<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ai.aitravelplanner.mapper.BudgetMapper">
    <insert id="insert" parameterType="com.ai.aitravelplanner.entity.Budget" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO budget (plan_id, category, amount, remark, expense_date)
        VALUES (#{planId}, #{category}, #{amount}, #{remark}, #{expenseDate})
    </insert>
</mapper>
